* {
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: Poppins;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    width: 500px;
    height: auto;
    margin: auto;    
}

table tr th,
table tr td {
    text-align: center;
    border: #000 solid 1px;
}

table tr th {
    background-color: #e75d5d;
}

table tr td {
    background-color: #ce8c8c;
}

table tr th:hover {
    background-color: #62e75d;
}

table tr td:hover {
    background-color: #8cce8e;
}

.title th:nth-child(1) {
    width: 40px;
}

.title th:nth-child(3) {
    width: 50px;
}

footer {
    background-color: #000;
    width: 100%;
}

footer div {
    color: #ffffff;
    width: 160px;
    margin: auto;
}

.footerContent a {
    color: #e75d5d;
}